<div id="<%= dom_id ticket_comment %>">
  <p>
    <strong>User:</strong>
    <%= ticket_comment.user.email %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= ticket_comment.comment %>
  </p>

</div>
