<div id="<%= dom_id ticket_comment %>" class="ticket_comment <%= comment_color(current_comment_count) %>"> 
  <p>
    <strong>User:</strong>
    <%= ticket_comment.user.email %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= ticket_comment.comment %>
  </p>

</div>
