<h1>Editing ticket comment</h1>

<%= render "form", ticket_comment: @ticket_comment %>

<br>

<div>
  <%= link_to "Show this ticket comment", @ticket_comment %> |
  <%= link_to "Back to ticket comments", ticket_comments_path %>
</div>
