/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
@import url('elegant-typewriter.regular.ttf');
@font-face {
    	font-family: 'Mukta', sans-serif;
    	src: url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
}
@font-face {
    	font-family: 'elegant-typewriter'; 
    	src: url('elegant-typewriter.regular.ttf');
}

#body-container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	min-width: 300px;
	width: 80%;
	max-width: 800px;
}
#show-ticket-container  {
	background-color: #e1e398;
}
table.show-ticket {
	border-collapse: collapse;
	width: 100%;
}
#show-ticket-container table tr td {
	outline: 1px solid gray;
	vertical-align: top;
}
#show-ticket-container table tr td {
	font-size: 14pt;
	font-family: 'elegant-typewriter'; 
}
#show-ticket-container table tr td strong {
	text-transform: uppercase;
    	font-family: 'Mukta', sans-serif;
	font-size: 12pt;
	font-weight: normal;
}
#show-ticket-container table tr td.ticket-description {
}
table tr td.ticket-description {
}
#show-ticket-container table tr td.ticket-to {
	width: 50%;
}
#show-ticket-container table tr td.ticket-from {
	width: 50%;
}
table tr td.empty {
	background-color: lightgray;
}

#new-ticket-container {
	background-color: #e1e398;
	width: 100%;
}
table .new-ticket-table {
	border-collapse: collapse;
	width: 100%;
}
table.new-ticket-table tr td{
	outline: 1px solid gray;
}
.new-ticket label {
	text-transform: uppercase;
    	font-family: 'Mukta', sans-serif;
	font-size: 12pt;
}
.new-ticket input {
	font-size: 14pt;
	font-family: 'elegant-typewriter'; 
	background-color: transparent;
	border: 0;
	outline: 0;
}
#ticket-description textarea {
	font-size: 14pt;
	font-family: 'elegant-typewriter'; 
	background-color: transparent;
	outline: 0;
	border: 0;
}
/* FORM 
#new-ticket-container {
	display: block;
	text-align: center;
}
#new-ticket-container-sub {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	min-width: 350px;
	width: 60%;
	max-width: 800px;
	outline: 1px solid black;
	background-color: #e1e398;
}
.ticket-form {
}
input {
}
input label {
}
.new-ticket {
	border: 1px solid black;
	
}
#ticket-description {
	width: 100%;
}
#ticket-description textarea {
	font-family: 'elegant-typewriter'; 
	width: 95%;
	background-color: #e1e398;
	border: 0;
	outline: 0;
}	
*/
